environment:
  node_pre_gyp_accessKeyId:
    secure: J0Bhc089DjlB2VE7Y4SiR5yex1cYeYscC6sXc5+wUMg=
  node_pre_gyp_secretAccessKey:
    secure: RJGlxPP+hUt/pVbY4vBUWW21uGInC8pbyiQ6wz+8cS20k3cQtpnxs9HNFUI4KfBS
  matrix:
    - nodejs_version: 6
    - nodejs_version: 7
    - nodejs_version: 8
    - nodejs_version: 9
    - nodejs_version: 10
    - nodejs_version: 11
    - nodejs_version: 12
    - nodejs_version: 14
    - nodejs_version: 16
    # electron
    - nodejs_version: 12
      NODE_RUNTIME: electron
      NODE_RUNTIME_VERSION: 6.0.2
      TOOLSET_ARGS: --dist-url=https://atom.io/download/electron
    - nodejs_version: 12
      NODE_RUNTIME: electron
      NODE_RUNTIME_VERSION: 5.0.9
      TOOLSET_ARGS: --dist-url=https://atom.io/download/electron
    - nodejs_version: 10
      NODE_RUNTIME: electron
      NODE_RUNTIME_VERSION: 4.2.8
      TOOLSET_ARGS: --dist-url=https://atom.io/download/electron        
    - nodejs_version: 10
      NODE_RUNTIME: electron
      NODE_RUNTIME_VERSION: 4.1.5
      TOOLSET_ARGS: --dist-url=https://atom.io/download/electron
    - nodejs_version: 10
      NODE_RUNTIME: electron
      NODE_RUNTIME_VERSION: 4.0.8
      TOOLSET_ARGS: --dist-url=https://atom.io/download/electron      
    - nodejs_version: 10
      NODE_RUNTIME: electron
      NODE_RUNTIME_VERSION: 3.0.9
      TOOLSET_ARGS: --dist-url=https://atom.io/download/electron
os: Visual Studio 2015

platform:
  - x64
  - x86

install:
  - scripts\build-appveyor.bat

build: OFF
test: OFF
deploy: OFF
